/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* START */
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  padding: 15px 0px;
  color: #333;
}
section {
  padding-top: 15px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 5px;
}
h2 {
  color: #e74c3c;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}
a {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #d74c3c;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-weight: bold;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  min-height: 600px;
}
.content-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.content {
  margin-left: 280px;
  clear: both;
  overflow: auto;
  padding-left: 15px;
}
.sidebar {
  position: fixed;
  width: 280px;
  margin-right: -280px;
  float: left;
  overflow: hidden;
}
.btn {
  color: #fff;
  background-color: #e74c3c;
  padding: 10px 15px;
  margin: 0px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #d74c3c;
  color: #fff;
}
.btn-block {
  display: block;
}
.bloc {
  background-color: #fff;
  padding: 15px;
}
/* HEADER */
header {
  position: relative;
  color: #333;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
header i {
  width: 25px;
  text-align: center;
  color: #e74c3c;
}
h1 {
  margin-bottom: 30px;
  font-size: 2.2em;
}
.header-name {
  font-size: 1.5em;
  font-weight: 700;
  color: #34596e;
}
.header-job {
  font-weight: 300;
}
.nav a {
  display: block;
  background-color: #34596e;
  color: #fff;
  padding: 12px 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.nav a:hover {
  background-color: #e74c3c;
}
/* CONTACT */
.contact i {
  color: #e74c3c;
  width: 24px;
  text-align: center;
}
.contact p {
  margin-bottom: 7px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.img-responsive {
  width: 100%;
  display: block;
}
/* ABOUT */
/* COMPETENCES */
.competences-part {
  margin-bottom: 15px;
}
.competences-comp {
  background-color: #ddd;
  margin-bottom: 5px;
}
.competences-bar {
  color: #fff;
  background-color: #34596e;
  padding: 5px 7px;
  font-weight: bold;
}
#competences h3 {
  margin-bottom: 7px;
}
/* TIMELINE */
.timeline {
  width: 100%;
}
.timeline-title {
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 120px;
}
.timeline-infos {
  color: #777;
  margin-bottom: 7px;
  padding-right: 120px;
}
.timeline-logo {
  position: absolute;
  width: 100px;
  right: 20px;
  top: 0;
}
.timeline-date {
  width: 120px;
  float: left;
  font-weight: bold;
  color: #34596e;
}
.timeline-content {
  position: relative;
  padding-left: 150px;
}
.timeline-item {
  margin-bottom: 20px;
}
.timeline-item :after {
  clear: both;
}
/* PROJETS */
.project {
  margin-bottom: 15px;
  background-color: #f2f2f2;
  padding: 15px;
}
.project-title {
  margin-bottom: 5px;
}
.project-infos {
  color: #777;
  margin-bottom: 7px;
}
.project-desc {
  margin-bottom: 15px;
}
.project-technos {
  margin-bottom: 20px;
}
/* CENTRE D'INTERETS */
.interest-item {
  text-align: center;
  margin-bottom: 15px;
}
.interest-item img {
  max-height: 80px;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .project-img {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .timeline-date {
    width: 100%;
    float: inherit;
  }
  .timeline-content {
    padding-left: 0px;
  }
}
.contact-mobile {
  display: none;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
    padding-left: 0;
  }
  .contact-mobile {
    display: block;
  }
}
@media (max-height: 715px) {
  .portrait {
    display: none;
  }
}
